@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --Blue-300: #3294F8;
    --Blue-500: #7B96B2;
    --Blue-600: #3A536B;
    --Blue-700: #1C2F41;
    --Blue-800: #112131;
    --Blue-900: #1C2F41;
    --Gray-100: #E7EDF4;
    --Gray-200: #C4D4E3;
    --Gray-300: #AFC2D4;
    --Gray-600: #112131;
    --Gray-700: #0B1B2B;
    --Gray-800: #071422;
    --Gray-900: #040F1A;
}

* {
  font-family: 'Nunito', Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
  box-shadow: none;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  background: var(--Gray-800);
  color: var(--Gray-300);
  -webkit-font-smoothing: antialiased;
}

#root {
  margin: 0 auto;
  max-width: 864px;
  width: 100%;
}

body, input, textarea, button {
  font: 400 1rem 'Nunito', Arial, sans-serif;
}

.lh-130 {
  line-height: 130%;
}

.lh-160 {
  line-height: 160%;
}

.etc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}