@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600;700&family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --Blue-100: #AFC2D4;
    --Blue-300: #3294F8;
    --Blue-500: #7B96B2;
    --Blue-600: #3A536B;
    --Blue-700: #1C2F41;
    --Blue-800: #112131;
    --Blue-900: #1C2F41;
    --Gray-100: #E7EDF4;
    --Gray-200: #C4D4E3;
    --Gray-600: #112131;
    --Gray-700: #0B1B2B;
    --Gray-800: #071422;
    --Gray-900: #040F1A;
}

* {
  font-family: 'Roboto', Arial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
  box-shadow: none;
}

html, body {
  min-width: 100vw;
  min-height: 100%;
  background: var(--Gray-800);
  color: var(--Gray-100);
  -webkit-font-smoothing: antialiased;
}

#root {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
}

body, input, textarea, button {
  font: 400 1rem 'Roboto', sans-serif;
}